.btn {
	height: 40px;
	padding: 5px 20px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-family: $font;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-primary {
	background-color: $primary;
	color: $text-white;
}

.btn-secondary {
	background-color: $bg-primary;
	color: $primary;
}

@media (hover: hover) {
	.btn-primary:hover {
		box-shadow: 0 0 13px -2px $primary;
	}

	.btn-secondary:hover {
		box-shadow: 0 0 13px -2px $bg-primary;
	}
}
