.navbar {
	position: fixed;
	width: 100%;
	clip-path: circle(22.5px at 42.5px 37.5px);
	background: $bg-nav;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	transition-delay: 0.1s;
	z-index: 1000;
	border-bottom: 2px solid $gray-ligth;
	opacity: 0;
	animation: entry 0.2s ease-in-out both;

	.brand {
		font-size: 1.3rem;
		font-weight: 600;
		margin-top: -20px;
		margin-bottom: 10px;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transition-delay: 0s;

		a {
			color: $text-dark;
			text-decoration: none;
		}
	}

	.container-toggle {
		align-self: flex-start;
		width: 45px;
		height: 45px;
		border: 2px solid $gray-ligth;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3px;
		margin-left: 20px;
		margin-top: 15px;
		cursor: pointer;

		span {
			width: 25px;
			height: 3px;
			background-color: $gray;
			border-radius: 10px;
			transition: all 0.2s ease-in-out;
		}
	}

	.nav {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		li {
			padding: 12px;
			position: relative;
			opacity: 0;
			transition: all 0.2s ease-in-out;
			// transition-delay: 0.1s;
			width: 200%;
			text-align: center;

			&::before {
				content: "";
				position: absolute;
				width: 230px;
				height: 2px;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 10px;
				background: $text-dark;
			}
		}

		.nav-link a {
			font-size: 1.1rem;
			font-weight: 500;
			color: $text-dark;
			display: block;
			text-decoration: none;
			width: 100%;
			height: 100%;
		}

		.nav-icons {
			padding: 20px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			opacity: 0;
			transition: all 0.2s ease-in-out;
			// transition-delay: 0.2s;

			img {
				width: 35px;
				height: 35px;
			}
		}
	}
}

.navbar.active {
	transition-delay: 0s;
	clip-path: circle(135% at 42.5px 37.5px);

	.container-toggle {
		.first {
			transform: translate(0, 6px) rotate(45deg);
		}

		.second {
			opacity: 0;
		}

		.third {
			transform: translate(0, -6px) rotate(-45deg);
		}
	}

	.brand {
		opacity: 1;
		transition-delay: 0.1s;
	}

	li {
		opacity: 1;
		transition-delay: 0.2s;
	}

	.nav-icons {
		opacity: 1;
		transition-delay: 0.3s;
	}
}

.whatsapp-icon {
	background-color: #2ece43;
	padding: 5px;
	border-radius: 7px;
}

@media (min-width: 768px) {
	.navbar {
		clip-path: none;
		border: 2px solid $gray-ligth;
		border-radius: 15px;
		max-width: 1000px;
		width: 96%;
		padding: 10px 50px;
		flex-direction: row;
		justify-content: space-between;
		top: 10px;
		left: 50%;
		transform: translate(-50%);

		.container-toggle {
			display: none;
		}

		.brand {
			margin: 0;
			padding: 0;
			font-size: 1rem;
			font-weight: 400;
			opacity: 1;
			transition-delay: 0s;

			a {
				transition: color 0.3s ease-in-out;
			}
		}

		.nav {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 30px;

			li {
				margin: 0;
				padding: 0;
				opacity: 1;
				transition-delay: 0s;

				&::before {
					display: none;
				}
			}

			.nav-link a {
				font-size: 1rem;
				font-weight: 400;
				transition: color 0.3s ease-in-out;
			}

			.nav-icons {
				margin: 0;
				padding: 0;
				opacity: 1;
				gap: 10px;

				img {
					width: 23px;
					height: 23px;
					margin-bottom: -6px;
					transition: transform 0.2s;
				}
			}
		}

		.whatsapp-icon {
			border-radius: 5px;
			padding: 3px;
		}
	}
}

@media (hover: hover) {
	.nav-link a:hover,
	.brand a:hover {
		color: $primary !important;
	}

	.nav-icons img:hover {
		transform: scale(1.1);
	}
}
