.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000a6;
	display: grid;
	place-content: center;
	z-index: 10000;
	opacity: 1;
	transition: opacity 0.2s;

	.popup {
		background-color: $bg-primary;
		padding: 20px 25px;
		border-radius: 10px;
		border: 2px solid $gray-ligth;

		h3 {
			font-size: 1.2rem;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

.popup-hidden {
	opacity: 0;
	pointer-events: none;
}
