.container-proyects {
	width: 100%;
	max-width: 1250px;
	display: flex;
	flex-wrap: wrap;
}

.project-card-primary {
	width: 100%;
	margin: auto;
	max-width: 470px;
	background-color: $bg-card-blue;
	border: 2px solid $border-card-primary;
	backdrop-filter: blur(7px);
	margin-top: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 10px;

	.project-card__img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
		object-position: center;
	}

	.project-card__body {
		padding: 0 10px;
		margin-bottom: 25px;

		.body__title {
			text-align: center;

			h3 {
				font-size: 1.45rem;
				font-weight: 700;
				color: $text-white;
			}

			p {
				font-size: 0.85rem;
				font-weight: 300;
				color: $gray-ligth;
			}
		}

		.body__text {
			text-align: justify;
			color: $text-white;

			p {
				margin: 15px 0;
				font-size: 1.05rem;
				font-weight: 300;
			}
		}
	}
}

@media (min-width: 1024px) {
	.project-card-primary {
		max-width: none;
		flex-direction: row;
		margin: 10px 20px;
		min-height: 315px;
		max-height: 315px;

		.project-card__img {
			max-height: none;
			max-width: 430px;
			width: 40%;
		}

		.project-card__body {
			padding: 10px 0;
			margin-right: 20px;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.body__title {
				width: 100%;
				text-align: start;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;

				h3 {
					font-size: 1.8rem;
				}

				p {
					font-size: 0.8rem;
					margin-top: 4px;
					text-align: end;
				}
			}

			.body__text {
				p {
					font-size: 0.95rem;
				}
			}
		}
	}

	.project-card-right {
		flex-direction: row-reverse;
		.project-card__body {
			margin-right: 0;
			margin-left: 20px;
		}
	}
}
