.container-project {
	max-width: 1150px;
	margin: 50px 5px 0 5px;
	padding-left: 10px;
	padding-right: 10px;

	.project-page__container-button {
		position: fixed;
		top: 20px;
		right: 15px;
		display: flex;
		justify-content: flex-end;
		z-index: 100;
	}

	.project-page__title {
		text-align: center;
		font-size: 1.55rem;
		color: $primary;
		margin-bottom: 5px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.project-page__desc {
		font-size: 1rem;
		text-align: justify;
		color: $text-dark;
		margin-bottom: 20px;
	}

	hr {
		background-color: $gray-ligth;
		height: 2px;
		border: none;
		border-radius: 10px;
		margin-bottom: 30px;
	}

	img {
		width: 100%;
		max-width: 550px;
		height: auto;
		display: block;
		margin: 20px auto;
		overflow: hidden;
		aspect-ratio: 4/3;
		object-fit: cover;
		background-color: #ccc;
	}

	.project-page__content {
		color: $text-dark;
		z-index: 1;

		p {
			font-size: 1rem;
			text-align: justify;
			padding-bottom: 15px;
		}

		h2 {
			font-size: 1.5rem;
			margin-bottom: 5px;
		}

		h3 {
			font-size: 1.2rem;
			margin-bottom: 5px;
		}

		ul {
			margin-left: 30px;
			list-style-type: disc;

			img {
				transform: translateX(-15px);
			}
		}
	}
}

@media (min-width: 768px) {
	.container-project {
		margin: 0px 5px 0 5px;
		.project-page__container-button {
			position: initial;
			display: block;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.project-page__title {
			font-size: 2.4rem;
			font-weight: 800;
			text-align: left;
		}

		.project-page__desc {
			text-align: left;
			margin-bottom: 50px;
		}

		.project-page__content {
			ul {
				margin-left: 50px;
				list-style-type: disc;

				img {
					transform: translateX(-25px);
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.container-project {
		hr {
			margin-bottom: 20px;
		}

		.project-page__content {
			p {
				font-size: 1.1rem;
			}

			ul {
				margin-left: 50px;
				list-style-type: disc;
				font-size: 1.1rem;

				img {
					transform: translateX(-25px);
				}
			}
		}
	}
}
