.send-form {
	position: fixed;
	top: 20px;
	right: 50%;
	background-color: $secondary;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(50%) translateY(-20px);
	opacity: 0;
	z-index: 1000000;
	transition: all 0.3s;

	.send-form__loader {
		width: 28px;
		height: 28px;
		border: 3px solid #fff;
		border-bottom-color: $primary;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	p {
		text-align: center;
		font-size: 1rem;
		color: $text-white;
		opacity: 0;
		animation: entry 0.2s both;
	}
}

.send-form.active {
	opacity: 1;
	transform: translateX(50%) translateY(0px);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
