.title {
	color: $text-dark;
	font-weight: 800;
	font-size: 2.05rem;
	text-align: center;
	line-height: 1.3em;
}

.title-primary {
	color: $primary;
}

.title-secondary {
	color: $bg-primary;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: $bg-primary;
}

body::-webkit-scrollbar-thumb {
	background-color: $primary;
	border-radius: 20px;
	border: 3px solid $bg-primary;
}

.c {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	opacity: 0;
	animation: entry 0.2s ease-in-out both;
}

.container {
	@extend .c;
	background-color: $bg-primary;
}

.container-colum {
	@extend .c;
	padding: 30px 0;
	background-color: $bg-primary;
}

.container-colum-admin {
	@extend .c;
	justify-content: flex-start;
	padding-top: 30px;
	background-color: $bg-primary;
}

.container-secondary {
	@extend .c;
	padding: 40px 0px;
	gap: 30px;
	background-color: $primary;
}

@keyframes entry {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (hover: hover) {
	.link-hover-primary {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 0%;
			opacity: 0;
			height: 2px;
			border-radius: 10px;
			background-color: $primary;
			bottom: -2px;
			left: 50%;
			transform: translateX(-50%);
			transition: width 0.2s, opacity 0.2s;
		}

		&:hover {
			&::before {
				opacity: 1;
				width: 105%;
			}
		}
	}
	.link-hover-secondary {
		@extend .link-hover-primary;

		&::before {
			background-color: $bg-primary;
		}
	}
}

@media (min-width: 768px) {
	html {
		font-size: 1.1rem;
	}

	.container-colum {
		padding: 80px 0px;
	}

	.container,
	.container-colum,
	.container-colum-admin {
		background-image: url($url-bg-animate);
		background-attachment: fixed;
		background-position: center;
		object-fit: cover;
	}

	.button-right {
		position: absolute;
		top: 40px;
		right: 30px;
	}
}

@media (min-width: 1024px) {
	.container {
		flex-direction: row-reverse;
		margin: auto;
		padding: 0 20px;
		gap: 50px;
	}

	.title {
		font-size: 3.1rem;
		text-align: left;
	}

	.container-colum-admin {
		.title {
			text-align: center;
		}
	}
}

@media (min-width: 1200px) {
	.title {
		font-size: 3.6rem;
		text-align: left;
	}
}
