@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "variables/variables";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font;
	background-image: url($url-bg-animate);
	background-attachment: fixed;
	background-position: center;
	object-fit: cover;
}

@import "general";
@import "components/button";
@import "components/header";
@import "components/page";
@import "components/nav";
