@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "variables/variables";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font;
	scroll-behavior: smooth;
}

@import "general";
@import "components/nav";
@import "components/button";
@import "components/header";
@import "components/projects";
@import "components/contact";
@import "components/project";
@import "components/footer";
