// variables
$bg-primary: #ffffff;
$text-dark: #333333;
$primary: #006baf;
$secondary: #00bfff;
$gray: #c2c2c2;
$gray-ligth: #d1d1d1;
$text-white: #fafaff;
$bg-card-blue: #006caf85;
$bg-nav: #ffffff;
$font: "Poppins", sans-serif;
